.blue-text{
	color: #00f;
}
.red-text{
	color: #f00;
}
.logo-thumbnail{
	border: none;
}
.panel-login{
	border-radius: 40px;
	box-shadow: 1px 1px 7px #030303;
}
.col-sm-offset-2 button {
	margin-top: 10px;
}