.blue-text{
	color: #00f;
}
.red-text{
	color: #f00;
}
.logo-thumbnail{
	border: none;
}
.panel{
	border-radius: 40px;
	box-shadow: 1px 1px 7px #030303;
}
.attendancesQuickAccess .btn-default{
	margin-top: 10px;
	border-radius: 40px;
}
.form-horizontal .form-group .col-md-6 input,
.form-horizontal .form-group .col-md-6 .form-control{
	margin-top: 5px;
	border-radius: 40px;
}