@font-face
{
font-family: mychordfont;
src: url(../font/rosemary.ttf);
}
@font-face
{
font-family: mychordfont2;
src: url(../font/caviardreams_bold.ttf);
}

#login-box {
	width:333px;
	height: 352px;
	padding: 58px 76px 0 76px;
	color: #ebebeb;
	font: 12px Arial, Helvetica, sans-serif;
	background: url(../img/login-box-backg.png) no-repeat left top;
}

#login-box img {
	border:none;
}

#login-box h2 {
	padding:0;
	margin:0;
	color: #ebebeb;
	font: bold 44px "mychordfont";
}


#login-box-name {
	float: left;
	display:inline;
	width:80px;
	text-align: right;
	padding: 14px 10px 0 0;
	margin:0 0 7px 0;
	font-family: "mychordfont";
}

#login-box-field {
	float: left;
	display:inline;
	width:230px;
	margin:0;
	margin:0 0 7px 0;
}


.form-login  {
	width: 205px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #BABABA;
	background-color: #448750;
	font-size: 14px;
	color: #ebebeb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.form-login:hover  {
	border: 1px solid #fff;
}

.form-login:focus  {
    outline: none !important;
    border-color: #44bf59;
}

.login-box-options  {
	clear:both;
	padding-left:87px;
	font-size: 14px;
	font-family: "mychordfont";
	padding-top:10px;
}

.login-box-options #btn {
	color: #ebebeb;
	font-size: 11px;
}

#btn{
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

#btn:focus  {
    outline: none !important;
    border-color: #44bf59;
}

.error {
padding-left:100px;
color: yellow;
font-size: 10px;
font-family: "mychordfont2";
}
.incorrect {
padding-left:100px;padding-top:14px;
color: yellow;
font-size: 12px;
font-family: "mychordfont2";
}
