fonts.googleapis.com/css?family=Raleway:300'
fonts.googleapis.com/css?family=Architects+Daughter'
fonts.googleapis.com/css?family=Open+Sans+Condensed:300'

body{
/*    background-color: #ecf0f1 !important;*/   
/*    background: url('../img/gray_jean.png') !important;*/
}
.wrapper{
    overflow: hidden;
    background: url('../img/gray_jean.png');
    }

.wrapper-header{
background-color: #E6E6E6;
    }

.wrapper-content {
background-color: #fff;
}
.header{
    background: url('../img/submenubg.png') no-repeat;
/*    background: url('../img/gray_jean.png');*/
/*    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
*/    background-size: cover;
}
.logo{
	margin: 5px 0px 5px 0px;
}
.fom{
	border-radius: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
	font-weight: 100;
	height: 25px;
}
.btn1{
	border-radius: 0;
	height: 25px;
	font-size: 10px;
	font-family: 'Raleway', sans-serif;
	line-height: 0.5;
	background-color: #068CCA;
	color: #fff;
}
.btn1:hover{
	background-color: #00AAE5;
	color: #fff;
}
.link{
    color: #005FC7;
}
.link:hover{
	text-decoration: none;
}
.login{
	float: right;
    margin-top:10px; 
	}
.login-form{
	padding-left: 25px;
	height: inherit;
}
.slogan{	
    font-family: 'Architects Daughter', cursive;
    font-size: 23px;
    font-weight:100; 
    float: right;
    margin: 0;
    padding: 20px 15px 0 0;
}
.wrapper-navbar{
    /*overflow: hidden;*/
    /*background-color: #006CB7;*/
}
.menu{
background-color: #068CCA;
margin-bottom: 0px;
border-radius: 0px;
}
.list{
	background-color: #068CCA;
/*	width: 100%;*/
  margin:0px auto;
  border-radius: 0px; 
}


.list-content{
	float: left;
	width: 100%;
	margin: 0;
	font-family: 'Open Sans Condensed', sans-serif;
    /*padding-left:20px; */
}
.list-content a{
	position: relative;
	color: #ffffff !important;
}
.cont1:hover{
	background-color: #2980b9;
/*padding-left: 5px;
padding-right: 20px;*/

}
.item-wrap {
    /*right: 0px;*/
    bottom: 0px;
    /*cursor: pointer;*/
    display: block;
    margin: 0 auto;
    position: relative;
    float: right;
    width: 400px;
    /*height: 50px;*/
    z-index: 98;
}

.item-wrap .description{
	background: rgba(0, 0, 0, 0) url("../img/black-bg-trans.png") repeat scroll 0 0;
    bottom: 50px;
    opacity: 0.6;
    color: #ffffff;
    overflow: hidden;
    padding: 31px 55px 20px 31px;
    position: absolute;
    right: 15px;
    /*width: 400px;*/
}
.item-wrap .description1{
	background: rgba(0, 0, 0, 0) url("../img/black-bg-trans.png") repeat scroll 0 0;
    bottom: 50px;
    opacity: 0.6;
    color: #ffffff;
    overflow: hidden;
    padding: 31px 55px 20px 31px;
    position: absolute;
    right: 15px;
}
.topic{
	overflow: hidden;
}
.topic h4{
color: #006CB7;
}
.a-date{
	color: #919191;
	margin: 0 0 5px;
    /*font-size: 13px;*/
}
.a-pic{
	width: 65px;
}
.a-title{
    font-size: 12px;
}
.a-hr{
    border-bottom:1px solid gray;
    margin-bottom: 1px;
}
.a-contain{
/*    background-color: #ecf0f1;*/
background-color:#fff;
    padding:4px;
}
.view-all{
    margin-top: 5px;
}
.media-body a{
	text-decoration: none;
}
.main-content{
	margin-top: 20px;
	color: #367BB3;
    overflow:hidden;
/*    padding-left: 25px;*/
}

.calender{
	float: right;
}

.wrapper-footer{
	background-color: #D5D3D3;
        padding: 35px 0;
}
.plan{
    /*background: #00ff00 url('../img/work.jpg') no-repeat center center; */
/*    background-image: url('../img/work-o.jpg');*/
    background-color: #A9B0B1;
    border: #d1d3ca 1px solid;
    background-position: center;
    background-size: cover;
    /*opacity: .6;*/
}
.item-wrap .description3{
	/*background: rgba(0, 0, 0, 0) url("../img/work.jpg") repeat scroll 0 0;*/
    bottom:10px;
    /*opacity: 0.8;*/
    /*color: #ffffff;*/
    overflow: hidden;
    padding: 31px 55px 20px 31px;
    position: absolute;
    right: 12px;
    /*width: 400px;*/
}
 .description3 h2{
	color:#006CB7; 
}
.description3 h2 span{
	color: #000;
}
.last-list{
	list-style-type:none;
	text-align: left;
	padding: 10px;	
}
.last-list a{
        color: #fff;
	text-decoration: none;
}
.last-headin{
	color:#00599C; 
}
.last-fom{
	border-radius: 0px;
}
.btn2{
	border-radius: 0px;
	box-shadow:1px 1px 2px;
	background-color: #006CB7;
	color: #fff;
}
.btn2:hover{
	background-color: #fff;
	color:#006CB7;
}
#ip-wrapper-socila{
	color: #fff;
	font-size: 3em;
}
.icn{
    font-size: 1em;
    color: #000;
	margin: 10px;
	padding-left: 10px;
}
#social-icon-facebook{
	float: left;
}
#social-icon-twitter{
	float: left;
}
#social-icon-google{
	float: left;
}
.menu_ul_li li a{
    color: #ffffff;
    display: block;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    padding: 14px 23px;
}
.menu_ul_li li:hover{
    background-color:#ce1821;
    color:#fff;
}

.about_us_and_workwithus{
    overflow:hidden;
}
.about_us_and_workwithus  p{
    text-align: justify;
}
.about_us_and_workwithus h3{
	color: #367BB3;
}
.dropdown-inside{
    background-color: #005FC7;
    margin: 0px;
    padding: 0px;
}

.dropdown-inside>li>a{
    border-bottom: 1px solid #ffffff;
}
.dropdown-inside li a:hover{
    background-color:#ce1821 !important;
    color:#fff;
    
}

.carousel-handel{
    font-size: 2em;
    position: absolute;
    top: 185px;
    color: #03ddc6;
    z-index:100 !important;

}
.slider-margin{
    margin: -1px -29px 0 1px;
}
.undp-nepal{
    margin-top: 15px;
    line-height: 2;
}
.undp-nepal h2{
    color: #ef2129;
}
.rerl{
    margin-left: 8px;
    font-size: 1.5em;
    color: #005FC7;
}

.cal-events {
    border-top: 1px solid #ddd;
    text-align: left;
}
.eventList li{
    list-style: none;
}
.eventList{
    padding-left: 2px;
}
.img-success{
    padding-right: 10px;
}
.params{
    color: #000;
}
/*.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    
    border-radius: 0 6px 6px 6px;
}
.dropdown-menu {
    position: absolute;
    
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
    
   
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    
    background-clip: padding-box;
  }*/
.success-stories{overflow:hidden;}
.banner_slider{
    overflow:hidden;
}
.panel-heading h3{
    color:#fff !important;
    margin-top:5px;
    font-size: 20px !important;
} 
.footer_menu ul li{
    float: left;
    list-style: none;
    margin-right: 20px;
}
.footer_menu ul li a{
    color:#000;
    font-size: 12px;
}
.footer_menu ul li a:hover{
    text-decoration:none !important;
}
.panel-danger > .panel-heading{
        background-color: #C54949 !important;
}
.panel-success > .panel-heading {
    color: #fff;
    background-color: #2F820D;
}
.panel-warning > .panel-heading {
    color: #8a6d3b;
    background-color: #E6C40D;
}